.chatleft-wrapper{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4.5rem);
    width:30%;
    border-right: 1px solid rgba(0, 0, 0, 0.332);
}
.chatleft-top{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    width: 100%;
    height: 18%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.262);
}
.chatleft-botttom{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 82%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.262);
    overflow-y: scroll;
}
.chat-user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.262);
}
.chat-user-img-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 2;
}
.chat-user-img{
    height: 3.9rem;
    width: 3.9rem;
    border-radius: 50%;
}
.chat-user-name{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: sans-serif;
}
.chat-user-message{
    font-size: 1.03rem;
}
.chatuser-name-message-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: .7rem;
    flex: 5;
}
.chat-end-camera-icon{
    flex: 1;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-user:hover{
    background-color: rgba(128, 128, 128, 0.192);
}
.chatleft-top-user-name-div{
    display: flex;
   margin-top: 1rem;
    
}
.top-user-name{
    display: flex;
    gap: .5rem;
    flex: 9;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 1.4rem;
}
.top-right-note-iicon{
    flex: 1;
    font-size: 2.1rem;
}
.primary-general-private{
    display: flex;
    justify-content: space-around;
    gap: 4vw;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-top: 1.1rem;
}
.primart-text{
    border-bottom: 3px solid black;
}


@media screen and (max-width : 1300px) {
    .chat-user-img{
        height: 3.3rem;
        width: 3.3rem;
    }
    .chat-user-name{
        font-size: 1.1rem;
    }
    .chat-user-message{
        font-size: 1rem;
    }
    .primary-general-private{
        font-size: 1rem;
    }
}

@media screen and (max-width : 1050px) {
    .chat-user-img{
        height: 3.1rem;
        width: 3.1rem;
    }
    .chat-user-name{
        font-size: 1rem;
    }
    .chat-user-message{
        font-size: .9rem;
    }
    .primary-general-private{
        font-size: .9rem;
    }
}

@media screen and (max-width : 730px) {
    .chat-user-img{
        height: 2.6rem;
        width: 2.6rem;
    }
    .chat-user-name{
        font-size: .8rem;
    }
    .chat-user-message{
        font-size: .7rem;
    }
    .primary-general-private{
        font-size: .9rem;
    }
}