.centre-wrapper{
    display: grid;
    justify-content: center;
    gap: 2rem;
    width: 45%;
    padding: 1.2rem .3rem;
    overflow-y: scroll;
}

@media screen and (max-width : 730px) {
    .home-centre{
     width: 100%;
    }
 }